:root{
    --primary-color: #ee4d2d;
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
    --star-gold-color: #fcd152;
}

*{
    box-sizing: inherit;
}

html{
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

/* Animation */
@keyframes fadeIn{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@keyframes headerGrowth{
    from{
        opacity: 0;
        transform: scale(0)
    }
    to{
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes growth{
    from{
        transform: scale(0.5);
    }
    to{
        transform: scale(1);
    }
}

/* Modal */
.modal{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex; /* để căn giữa màn hình lớp con (margin auto)*/
    animation: fadeIn linear 0.15s;
    z-index: 5;
}

.modal_overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    cursor: pointer;
}

.modal_body{
    /* position: relative; */
    margin: auto;
    z-index: 1;
    animation: growth linear 0.15s;
}

/* Button */
.btn{
    border: none;
    text-decoration: none;
    color: var(--text-color);
    background-color: var(--white-color);
    line-height: 1.6rem;
    border-radius: 2px;
    cursor: pointer;
}

.btn.btn--primary{
    color: var(--white-color);
    background-color: var(--primary-color);
}

.btn.btn--disabled{
    color: #949494;
    cursor: default;
    background-color: #c3c3c3;
}

/* Dấu mũi tên nhọn (trên thông báo) */
.dau-mui-ten{
    content: "";
    border-width: 8px 11px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    position: absolute;
    top: -16px;
    right: 22px;
    cursor: pointer;
}

.cart-dau-mui-ten{
    content: "";
    border-width: 8px 11px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    position: absolute;
    top: -16px;
    right: 14px;
    cursor: pointer;
}



/* CSS CHECK BOX */

input[type=checkbox] 
{
    position: relative;
    cursor: pointer;
}

input[type=checkbox]:before {
    content: "";
    display: block;
    position: absolute;
    width: 12px;
    height: 12px;
    top: 0;
    left: 0;
    border: 1px solid rgb(187, 186, 186);
    border-radius: 2px;
    background-color: white;
}

input[type=checkbox]:checked:after {
    content: "";
    display: block;
    width: 2px;
    height: 6px;
    border: solid var(--primary-color);
    border-width: 0 1.6px 1.6px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
    top: 2.2px;
    left: 5.6px;
}


/* CSS pagination */
.pagination-modify{
    padding-left: 0;
    margin: 48px 0 32px 0;
}

.pagination{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pagination_item{
    padding-left: 0;
    display: block;
    font-size: 1.8rem;
    margin: 0 14px;
}

.pagination_item-btn{
    border: none;
    text-decoration: none;
    color: #939393;
    background-color: #f5f5f5;
    line-height: 1.8rem;
    border-radius: 2px;
    cursor: pointer;
    padding: 7px 15px 6px;
}

.pagination_item-btn.pagination_item-btn-main{
    color: var(--white-color);
    background-color: var(--primary-color);
}

.pagination_item-btn.pagination_item-btn-main:hover{
    opacity: 0.95;
}

.pagination_item-btn-icon{
    padding: 0px 15px;
    min-height: 30.6px;
}

.pagination_item-btn i{
    font-size: 2.2rem;
}


/* CSS khi ấn vào nút Đăng kí và Đăng nhập */
.modal-check_registration{
    display: none;
}

.input_registration:checked ~ .modal-check_registration{
    display: flex;
}

.input_registration{
    display: none;
}


.modal-check_login{
    display: none;
}

.input_login:checked ~ .modal-check_login{
    display: flex;
}

.input_login{
    display: none;
}
