/* Mobile and Tablet */
@media (max-width: 1023px){
    .hide-on-mobile-tablet{
        display: none;
    }
    
    .header{
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 10;
    }

    .header_taskbar-mobile-btn{
        display: block;
    }

    .header_search_info:hover .header_search_infoplus{
        display: none;
    }

    .header_info-plus-checkbox:checked ~ .header_search_infoplus{
        display: block;
    }

    .header_info-plus-checkbox-mobile:checked ~ .header_search_infoplus{
        display: block;
    }

    .header_search_info-name,
    .header_search_info-icon{
        -webkit-tap-highlight-color: transparent;
    }

    .header_blockcart::before{
        display: none;
    }

    .header_blockcart .cart-dau-mui-ten{
        display: none;
    }

    .header_cart_list{
        max-height: 26vh;
    }
    
    .header_cart_footer-btn {
        padding: 8px 14px;
    }

    .header_cart:hover .header_blockcart{
        display: none;
    }

    .header_cart-checkbox:checked ~ .header_blockcart{
        display: block;
    }

    .header_infoplus-list::before{
        display: none;
    }

    .header_cart_noti{
        font-size: 1.2rem;
    }

    .header_cart_footer{
        padding: 20px 10px 12px 10px;
    }

    .mobile_category{
        display: block;
    }

    .footer_text_nation-list{
        display: none;
    }
    
    .footer_heading{
        text-align: center;
        margin-bottom: 8px;
    }

    .footer_list-vaocuahang{
        justify-content: center;
    }

    .footer_item{
        justify-content: center;
    }

    /* Css taskbar mobile*/
    .category-mobile{
        margin: 16px 0;
    }

    .header_taskbar-logo{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 20px 12px;
        border-bottom: 2px solid rgb(235, 231, 231);
    }
    
    .header_taskbar-logo-link{
        display: block;
    }

    .header_taskbar-icon-out{
        display: block;
        -webkit-tap-highlight-color: transparent;
    }

    .header_taskbar-icon-out i{
        font-size: 3rem;
        color: var(--primary-color);
    }

    .category-mobile-list{
        margin: 16px 0 0 0;
        padding: 0;
        list-style: none;
    }

    .category-mobile-item{
        padding: 16px 20px;
        -webkit-tap-highlight-color: transparent;
    }

    .category-mobile-item:hover{
        background-color: #ebebeb;
    }

    .category-mobile-item-link{
        display: flex;
        align-items: baseline;
        text-decoration: none;
    }
    
    .category-mobile-item-text{
        font-size: 1.6rem;
        color: var(--text-color);
    }

    .category-mobile-item-icon{
        font-size: 2.2rem;
        color: #888;
        margin-right: 18px;
    }

    .header_overlay_full-screen{
        display: none;
    }

    .header_taskbar-block{
        display: none;
    }

    .header_taskbar-checkbox:checked ~ .header_overlay_full-screen,
    .header_taskbar-checkbox:checked ~ .header_taskbar-block{
        display: block;
    }

    @keyframes taskbarMobile {
        from{
            opacity: 0.2;
            transform: translateX(-100%);
        }
        to{
            opacity: 1;
            transform: translateX(0);
        }
    }
}


/* tablet */
@media (min-width: 740px) and (max-width: 1023px){
    .hide-on-tablet{
        display: none;
    }

    .header_taskbar-mobile-btn{
        margin-right: 30px;
        margin-top: 10px;
    }

    .header_logo-img-taskbar{
        width: 148px;
    }

    .header_sort-bar-full{
        position: fixed;
        left: 0;
        right: 0;
        top: 68px;
        background-color: #f5f5f5;
        height: 44px;
        z-index: 8;
    }

    .header_sort-bar{
        display: flex;
        margin: auto;
        width: 644px;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
        border-bottom-left-radius: 2px;
        border-bottom-right-radius: 2px;
    }

    .header_search_history{
        width: 86%;
    }

    .header_cart {
        margin: 12px 16px 0 36px;
    }

    .header_search_flex {
        height: 38px;
    }

    .header_blockcart {
        right: -50px;
        top: calc(100% + 19px);
        width: 690px;
        padding: 0 44px 0 30px;
    }

    .header_cart-link {
        font-size: 2rem;
    }

    .container{
        margin-top: calc(68px + 44px);
    }

    .pagination-modify{
        margin: 36px 0 32px 0;
    }

    .footer_flex{
        justify-content: center;
    }

    .footer-block_column{
        margin-bottom: 34px;
    }

    .footer_text{
        justify-content: center;
        margin-top: 28px;
    }

    .footer_text::before{
        top: -30px;
    }
}

/* mobile */
@media (max-width: 739px){
    .hide-on-mobile{
        display: none;
    }

    .header-with-search{
        padding: 0;
    }

    .header_taskbar-block{
        width: 100%;
    }

    .header_logo-img-taskbar{
        width: 140px;
    }
    
    .header_sort-bar-full{
        position: fixed;
        left: 0;
        right: 0;
        top: 54.84px;
        background-color: #f5f5f5;
        height: 44px;
        z-index: 8;
    }

    .header_sort-bar{
        display: flex;
        width: 96%;
        margin: 0 auto;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
        border-bottom-left-radius: 2px;
        border-bottom-right-radius: 2px;
    }

    .header_search-mobile{
        position: fixed;
        top: 54.84px;
        left: 0;
        right: 0;
        z-index: 9;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.06);
        animation: mobileSearchSideIn linear 0.2s;
        display: none;
    }

    @keyframes mobileSearchSideIn {
        from{
            transform: translateY(-100%);
        }
        to{
            transform: translateY(0);
        }
    }

    .header_search_flex{
        align-items: center;
        height: 44px;
        padding: 0px 8px 0;
    }

    .header_moblie-search-checkbox:checked ~ .header_search-mobile{
        display: block; 
    }

    .header_search-mobile-btn{
        display: block;
    }

    .header_taskbar-mobile-btn{
        padding-left: 16px;
        margin-top: 6px;
    }

    .header_search-mobile-btn{
        margin: 6px 0 0 18px;
    }

    .header_logo{
        margin: 0 auto;
    }

    .header_logo-img {
        width: 110px;
        margin-top: 6px;
    }

    .header-search_input{
        padding: 0 0 0 4px;
    }

    .header_search_info{
        padding-right: 8px;
    }

    .header_search_info-name{
        padding: 2px 1px 0;
        font-size: 1.3rem;
    }

    .header-search_button{
        height: 32px;
        padding: 0px 18px;
    }

    .header_cart {
        margin: 12px 28px 0 0;
    }

    .header_cart-link {
        font-size: 2rem;
    }

    .header-with-search{
        justify-content: center;
        height: 54.84px;
    }

    .header_search_history{
        width: 100%;
    }

    .header_search_infoplus{
        top: 162%;
    }

    .header_blockcart {
        position: absolute;
        right: -28px;
        top: calc(100% + 12px);
        width: 100vw;
        padding-right: 12px;
    }

    .header_infoplus-list{
        width: 120px;
    }

    .header_search_info-icon{ 
        margin-top: 3px;
    }

    .container{
        margin-top: calc(54.84px + 44px);
    }

    .home-product{
        margin: 0 8px;
    }

    .pagination-modify{
        margin: 24px 0 24px 0;
    }

    .pagination_item{
        font-size: 1.6rem;
        margin: 0 2px;
    }

    .pagination_item-btn{
        padding: 7px 13px 6px;
        line-height: 1.6rem;
    }

    .footer{
        margin: 16px 0 24px 0;
    }

    .footer::before{
        top: -16px;
    }

    .footer_list{
        position: relative;
    }

    .footer_list::before{
        content: "";
        display: block;
        position: absolute;
        bottom: -12px;
        left: 50%;
        transform: translate(-50%,0);
        height: 1px;
        width: 70%;
        background-color: rgb(235, 230, 230);;
    }

    .footer-block_column{
        margin: 10px 0;
    }

    .footer_text{
        justify-content: center;
        margin-top: 23px;
    }

    .footer_text::before{
        top: -22px;
    }
}
